/*css file of mywebsite.html*/
/*--this code is attached to <h>--*/
  h1 {
    color: rgb(255, 255, 255);
  }
  h3 {
    color: aquamarine;
  animation: alternate;
}
/*--<h> code ends here--*/

<<<<<<< HEAD
=======
/*server-box code below*/
.server-box {
  width: 350px;
  height: 215px;
  background-color: #000000; /* Background color */
  border: 1px solid #b90a0a; /* Border color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a floating effect */
  border-radius: 10px; /* Border radius for rounded corners */
  padding: 10px; /* Padding inside the box */
  margin: 20px;
}

/* Styling for the text */
.server-box p {
  margin: 0; /* Remove default margin for the paragraph */
}

>>>>>>> cfa929afa91324329ea39e082b1c37bc4c3d066e
body {
  background: linear-gradient(60deg, #FFC700, #FF00D6, #00FFFF);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
/*-- <p> code starts here--*/
  p {
    color:cornsilk;
    animation:forwards;
  }
  /*--<p> code ends here--*/
  
  /*--this code is attached to <pre> block--*/
  pre {
    animation: infinite;
    animation-fill-mode: initial;
    animation-duration: 5s;
    animation-name: test;
    border-color: azure;
    color: rgb(0, 255, 34);
  }
  /*--<pre> block's code ends here--*/

  /*--<address> block's code starts here--*/
  address {
    font-style: italic;
    color:azure;
  }
  /*--<address> code ends here--*/

  /*--this code is commited to the behaviour of buttons in the page--*/
  /*this button's code is in beta stage */
  .button {
    position: relative;
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    outline: none;
    padding: 0;
    display: block;
    color: #000000;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  /*--the button code ends here--*/

  /*--this css code here controls how a clickable link gonna behave--*/
   /*the unclicked link will be seen in green color*/
  a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
    /*the visited link will be seen in pink color*/
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  /* the link will be turned to red color when a mouse hovers on it*/
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  /*the color of link changes to yellow when its active*/
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  /*--link's code ends here--*/

  /*--glowing buttons code below--*/
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
button{
  position: relative;
  height: 60px;
  width: 200px;
  margin: 0 35px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: #111;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 1s;
}
/*this adds gradient to first button*/
button:first-child:hover{
  background: linear-gradient(45deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
}
/*this adds gradient to 2nd button*/
button:nth-child(2):hover{
  background: linear-gradient(45deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
}
/*this adds gradient to 3rd button*/
button:nth-child(3):hover{
  background: linear-gradient(45deg, #fa7199, #f5ce62, #e43603, #fa7199);
  background-size: 400%;
}
/*adds gradient to test button*
button:nth-child(n):hover{
  background: linear-gradient(45deg, #fa7199, #f5ce62, #e43603, #fa7199);
  background-size: 400%;
}
                        this button has been drafted              /
/*adds gradient to 4th button*/
button:last-child:hover{
  background: linear-gradient(45deg, #fa7199, #f5ce62, #e43603, #fa7199);
  background-size: 400%;
}
button:first-child:before,
button:nth-child(2):hover:before,
button:nth-child(3):hover:before,
button:last-child:before{
  content: '';
  position: absolute;
  background: inherit;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-radius: 50px;
  filter: blur(10px);
  opacity: 0;
  transition: opacity 0.5s;
}
button:first-child:hover:before,
button:nth-child(2):hover:before,
button:nth-child(3):hover:before,
button:last-child:hover:before{
  opacity: 1;
  z-index: -1;
}
button:hover{
  z-index: 1;
  animation: glow 8s linear infinite;
}
@keyframes glow {
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
}
<<<<<<< HEAD
/*loading screen's code*/

 TEMPLATE
feColorMatrix : 
@green: #c2d5a0;
@red: #cf6a6d;
@yellow: #ffbc0d;

@black: #343536;
@black-2: #424950;
@grey: #89949b;
@grey-2: #9aa8b1;
@light-grey: #c4c9cd ;
@light-grey-2: #dbdfe1;
@white: #f3f4f5;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "proxima-nova-soft", sans-serif;
  -webkit-user-select: none;
  overflow: hidden;
  
  .vertical-centered-box {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    &:after {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em;
    }
    .content {
      box-sizing: border-box;
      display: inline-block;
      vertical-align: middle;
      text-align: left;
      font-size: 0;
    }
  }
}

* {
  transition: all .3s;
}
 TEMPLATE


body {
  background: mix(#3f3251, #002025, 70%);
}

#prism-logo {
  path {
     fill: #20293b;
     stroke: rgba(255,255,255,1);
     stroke-width: 1px;
  }
}

.loader-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.1);
  margin-left: -60px;
  margin-top: -60px;
  .animation(fade 1.2s infinite ease-in-out);
}

.loader-line-mask {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  overflow: hidden;
  transform-origin: 60px 60px;
  -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));
  animation: rotate 1.2s infinite linear;
  .loader-line {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.5);
  }
}

#particles-background, #particles-foreground {
  left: -51%;
  top: -51%;
  width: 202%;
  height: 202%;
  transform: scale3d(.5, .5, 1);
}

#particles-background {
  background: mix(#3f3251, #002025, 70%);
  background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
  background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
  background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
}

@keyframes rotate { 0% { transform: rotate(0deg);} 100% { transform: rotate(360deg);}}

@keyframes fade { 0% { opacity: 1;} 50% { opacity: 0.25;}}

@keyframes fade-in { 0% { opacity: 0;} 100% { opacity: 1;}}

=======
>>>>>>> cfa929afa91324329ea39e082b1c37bc4c3d066e
/*--ends here--*/
